.navLink {
  position: relative;
  color: white !important;
  transition: color 0.3s ease;
  text-decoration: none;
}

.navLink:hover {
  color: #CAD2C5 !important;
}

.navLink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #CAD2C5;
  transition: width 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
}
